<footer class="footer main-background-color">
	<div class="container">
		<nav class="navbar navbar-expand-md footer-nav">
			<a class="navbar-brand-footer" href="/">&#169; МИСТЕЦЬКИЙ ДІМ</a>

            <div class="header-social-networks social-networks text-left d-none d-md-block d-xl-block">
                <a href="https://www.instagram.com/misteckiy_dim" target="_blank" rel="nofollow">
                    <span class="icon-instagram"></span>
                </a>
                <a href="https://www.behance.net/md1m" target="_blank" rel="nofollow">
                    <span class="icon-behance"></span>
                </a>
                <a href="https://www.facebook.com/misteckiy/" target="_blank" rel="nofollow">
                    <span class="icon-facebook"></span>
                </a>
                <a href="https://www.pinterest.com/misteckiy/" target="_blank" rel="nofollow">
                    <span class="icon-pinterest2"></span>
                </a>
                <a href="https://plus.google.com/110620023229417998858" target="_blank" rel="nofollow">
                    <span class="icon-google-plus"></span>
                </a>
                <a href="https://twitter.com/misteckiy" target="_blank" rel="nofollow">
                    <span class="icon-twitter"></span>
                </a>
              </div>
          
		</nav>
	</div>
</footer>