<footer class="footer main-background-color">
	<div class="container">
		<nav class="navbar navbar-expand-md footer-nav">
			<a class="navbar-brand" href="/">Misteckiy Dim</a>
	  		<!-- <div class="d-none d-md-block d-xl-block ml-auto">
		      <ul class="navbar-nav">
		          <li class="nav-item">
		            <a class="nav-link" href="/">Головна</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{% url 'about_us:about_us' %} ">Про нас</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{% url 'projects:projects' %}">Проекти</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{% url 'gallery:gallery' %}">Галерея</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{% url 'gypsum:gypsum_products' %}">Ліпнина</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{% url 'prices:prices' %}">Ціни</a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link" href="{% url 'contacts:contacts' %}">Контакти</a>
		          </li>
		        </ul>
		    </div> -->

		    <!-- <div class="col-md-4"> -->
            <div class="header-social-networks social-networks text-left">
                <a href="#" target="_blank" rel="nofollow">
                    <span class="icon-instagram"></span>
                </a>
                <a href="#" target="_blank" rel="nofollow">
                    <span class="icon-behance"></span>
                </a>
                <a href="#" target="_blank" rel="nofollow">
                    <span class="icon-facebook"></span>
                </a>
                <a href="#" target="_blank" rel="nofollow">
                    <span class="icon-pinterest2"></span>
                </a>
                <a href="#" target="_blank" rel="nofollow">
                    <span class="icon-google-plus"></span>
                </a>
                <a href="#" target="_blank" rel="nofollow">
                    <span class="icon-twitter"></span>
                </a>
              </div>
          <!-- </div> -->
          
		</nav>
	</div>
</footer>