<div class="header main-background-color">
    <div class="navbar-header d-none d-md-block d-xl-block">
      <div class="container text-center">
        <!-- <div class="row"> -->


          <!-- <div class="col-md-4"> -->
            <div class=" navbar-brand-container">
           <a class="navbar-brand" href="/"><img  src="{{ favicon.favicon.url }}" alt="">Misteckiy Dim</a>
              <!-- <a class="" href="/">Misteckiy Dim</a> -->
          </div>
          <!-- </div> -->

        <!-- </div> -->

      </div>
    </div>
</div>

<nav class="navbar navbar-expand-md sticky-top navbar-dark main-background-color">
  <div class="container">

     <a class="navbar-brand d-md-none d-xl-none navbar-header-xs" href="/"><img style="height: 30px; margin-right:5px;     padding-bottom: 5px;" src="{{ favicon.favicon.url }}" alt="">Misteckiy Dim</a>

     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav main-menu mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Головна</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_us:about_us' %} ">Про нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projects:projects' %}">Проекти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery:gallery' %}">Галерея</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gypsum:gypsum_products' %}">Ліпнина</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'prices:prices' %}">Ціни</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts:contacts' %}">Контакти</a>
          </li>

          <li class="nav-item d-md-none d-xl-none">
            <div class="social-networks">
              <a href="https://www.instagram.com/misteckiy_dim" target="_blank" rel="nofollow">
                  <span class="icon-instagram"></span>
              </a>
              <a href="https://www.behance.net/md1m" target="_blank" rel="nofollow">
                  <span class="icon-behance"></span>
              </a>
              <a href="https://www.facebook.com/misteckiy/" target="_blank" rel="nofollow">
                  <span class="icon-facebook"></span>
              </a>
              <a href="https://www.pinterest.com/misteckiy/" target="_blank" rel="nofollow">
                  <span class="icon-pinterest2"></span>
              </a>
              <a href="https://plus.google.com/110620023229417998858" target="_blank" rel="nofollow">
                  <span class="icon-google-plus"></span>
              </a>
              <a href="https://twitter.com/misteckiy" target="_blank" rel="nofollow">
                  <span class="icon-twitter"></span>
              </a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>